.ant-modal-wrap {
  padding-inline: 0px !important;
}

.ant-modal-content {
  width: 100% !important;
  margin-inline: 0px !important;
  padding-top: 4px !important;
  padding-inline: 4px !important;
}

.ant-modal-footer button {
  margin-inline: 10px;
}

.ant-modal-footer button div {
  display: none;
}

/* Elimina el overlay o cualquier div innecesario generado por el modal */
.ant-modal-mask {
  display: none !important;
}
